<div
  class="card employee-card"
  style="margin:1%; max-width: 18rem; background-image: linear-gradient(rgba(6, 145, 64, 1.0),rgba(255, 255, 255, 0));"
>
  <div class="card-header">
    <h2 class="card-title">{{ name }}</h2>
    <h3 class="card-title">
      <i class="fas fa-mug-hot mr-2" style="color: black"></i>{{ role }}
    </h3>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" style="background-color: white;">
        ID: {{ id }}
      </li>
      <li class="list-group-item" style="background-color: white;">
        Email: <a href="mailto:{{ email }}" style="color: black">{{ email }}</a>
      </li>
      <li class="list-group-item" style="background-color:white;">
        Office number: {{ officeNumber }}
      </li>
    </ul>
  </div>
</div>
