<div
  class="card employee-card"
  style="max-width: 18rem; background-color: lightpink;"
>
  <div class="card-header">
    <h2 class="card-title">{{ name }}</h2>
    <h3 class="card-title">
      <i class="fas fa-mug-hot mr-2" style="color: black"></i>{{ role }}
    </h3>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" style="background-color: rgb(240, 82, 105);">
        ID: {{ id }}
      </li>
      <li class="list-group-item" style="background-color: rgb(165, 4, 28);">
        Email: <a href="mailto:{{ email }}" style="color: black">{{ email }}</a>
      </li>
      <li class="list-group-item" style="background-color: rgb(240, 82, 105);">
        Office number: {{ officeNumber }}
      </li>
    </ul>
  </div>
</div>
